/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
}

.color-box {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-top: 20px;
}

#greenBox {
    background-color: #009900; /* Verde de la bandera de México */
}

#whiteBox {
    background-color: #FFFFFF; /* Blanco de la bandera de México */
}

#redBox {
    background-color: #990000; /* Rojo de la bandera de México */
}

label {
    font-size: 1 rem;
    font-weight: 600;
}

p {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}
